body {
  font-family: Arial, sans-serif;
  background: #e8cba9;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  margin: 2em 0 1em;
  color: #333;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  align-items: stretch;
}
li {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin: 1em;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;
  position: relative;

  p {
    width: 200px;
    margin: 0;
    max-height: 200px;
    overflow: hidden;
    label {
      display: none;
    }
    &:first-child {
      font-weight: bold;
    }
    img {
      display: block;

      width: 100%;
    }
  }
}

.avatar {
  font-size: 2em;

  color: black;

  background: gray;
  border-radius: 50px;

  padding: 0.5em 0;
  .eye {
    color: green;
  }
}

.details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  &_content {
    background: white;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    max-height: 90%; // correct it
    width: 400px;
    overflow: scroll;
    form {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin: 1em;
    }
    p {
      display: flex;
      flex-direction: column;
      margin: 0;
      label {
        color: gray;
        font-size: 0.85em;
      }
    }
    .close {
      position: sticky;
      top: 0;
      display: block;
      margin-left: auto;
      margin-bottom: -2em;
      cursor: pointer;
      // top: 1em;
      // right: 1em;
      width: 2em;
      height: 2em;
      &:hover {
        filter: contrast(0.5);
      }
    }
    .buttons {
      // display: flex;
      align-items: center;
      justify-content: space-evenly;
      button {
        width: 2em;
        height: 2em;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0.5em;
        &.favorite {
          background-image: url("./images/heart.svg");
        }
        &.edit {
          background-image: url("./images/edit.svg");
        }
        &.delete {
          background-image: url("./images/erase.svg");
        }
      }
      .active {
        filter: invert(50%) sepia(100%) saturate(100%) hue-rotate(300deg)
          contrast(200%);
      }
    }
  }
}

.colorsquare {
  padding: 0.5em 0;
  border-radius: 50%;
  margin-left: 0.5em;
}

// .eyesquare {
//   padding: 0.5em 0;
//   border-radius: 50%;
//   margin-left: 0.5em;
//   width: 1em;
// }

.hidden {
  display: none;
}
.fixed {
  position: fixed;
}

////toast popup below////

#toast {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 1em;
  border-radius: 1em;
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 1s ease, transform 1s ease;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
  &.success {
    background: #d9eedc;
    color: #4f7a57;
  }
  &.error {
    background: #f7dcdc;
    color: #a45a5a;
  }
}

.searchform {
  margin: 0 auto;
  background: linen;
  width: fit-content;
  padding: 2em;
  border-radius: 1em;
  label {
    margin-right: 1em;
  }
  p {
    margin: 0 0 1.5em;
  }
  button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    margin: 2em auto 0;
    display: block;
    color: #333;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
      border-color: transparent;
    }
  }
}

.seeAll {
  margin: 0 auto;
  display: block;
  width: fit-content;
  color: darkslategrey;
  &:hover {
    color: darkgoldenrod;
  }
}
